.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #2c3e50;
}

.logo.router-link-exact-active {
    color: #42b983;
}

.logo-image {
    max-width: 100%;
    width: 200px;
}